#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

a {
  color: #828282;
}

a:hover {
  color: #434343;
}

.ant-spin-dot-item {
  background-color: #434343;
}

.ant-header-menu-button {
  padding-right: 12px;
  cursor: pointer;
}
